@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

div class="text-center">
    <br />
    <br />
    <h1 class="display-4">About Us</h1>
    <br />
    <img src="/WD.png" class="img-thumbnail" alt="Logo" width=100>
    <br />
    <br />
    <br />
    <br />
    <p>WeDrive is a new way to start your adventures. We are here to provide the best car renting experience. </p>
    <br />
    <br />
    <img src="/S3.jpg" class="img-fluid" alt="Picture">
    <br />
    <br />
    <br />
    <p>Enjoy a fast and efficient renting process to begin</p>
    <br />
    <br />
    <img src="/S5.png" class="img-fluid" alt="Picture">
       
</div>
