@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<br />
    <br />
    <h1 class="display-4">WeDrive</h1>
    <p>Rent for all your adventures.</p>
    <br />
    <br />
    <br />
    <br />

        <div class="container">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                   <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

    <!-- Wrapper for slides -->
      <div class="carousel-inner">
            <div class="item active">
                <img src="/S2.jpg" alt="Los Angeles" style="width:100%;">
            </div>
